:root{
    --border:#c3c3c3;
}

*{
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    font-family: monospace;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
.logo a{
    color: black;
}

.shipping-message{
    display: flex;
    background-color: black;
    width: 100%;
    height: 43px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
    color: #f5f5f5;
}
/* 
.social-media {
    display: flex;
    gap: 22px;
    position: absolute;
    bottom: 10px;
}
 */


/************* Start heading  ***********/
.heading{
    position: sticky;
    top: -1px;
    width: 100%;
    z-index: 100;
}

.heading .container{
    padding: 10px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0px 4px 5px 1px #c9c9c96e;
}

.heading .links .icon:hover{
    cursor: pointer;
}

.heading .links .icon{
    width: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.heading .links .icon span{
    background-color: black;
    height: 2px;
    margin-bottom: 5px;
}

.heading .links .icon span:first-child{
    width: 100%;
}
.heading .links .icon span:nth-child(2){
    width: 70%;
}
.heading .links .icon span:nth-child(3){
    width: 100%;
}

.heading .links{
    display: inline-flex;
    width: 25px;
    height: 34px;
    padding-top: 20px;
}

.heading .links ul{
    position: relative;
    margin: 0;
    padding: 10px 0;
    width: 40%;
    height: 430px;
    color: black;
    position: absolute;
    top: 0;
    left: -80%;
    border-top: 43.5px solid;
    border-bottom: 1px solid #c3c3c3;
    background-color: white;
    border-right: 1px solid #c3c3c3;
}

@media (max-width:599px) {
    .heading .links ul{
        width: 66%;
    }
}

.heading .links ul li{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--border);
    margin: 20px 0;
    padding: 0 30px;
    color: black;
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
}

.heading .links ul li a{
    color: black;
}

.heading .links:hover ul{
    left: 0%;  
    transition: 0.5s;
}

.heading .links #search{
    border: 1px solid var(--border);
    position: absolute;
    left: 30px;
    height: 40px;
    width: 80%;
    background-image: url(/images/icons/search.svg);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding: 20px;
}

.heading .container .logo{
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.heading .box{
    display: flex; 
    align-items: center;   
}

.heading .box img:first-child{
    width: 23px;
    margin: 0 10px 0 0;    
}

.heading .box img:nth-child(2){
    width: 23px;
}

/************* End heading  ***********/








/************* start interface ********/

.interface .container{
    position: relative;
    width: 100%;
    height: 727px;
    overflow: hidden;
}


@media (min-width : 600px) {
    .interface .container{
        display: grid;
        justify-items: center;
    }
    video{
        position: absolute;
        top: -200px;
    }
    .interface .container img{
        display: none;
    }
        
    .interface .container p:first-of-type{
        position: absolute;
        top: 230px;
        text-transform: uppercase;
        font-family: serif;
        font-size: 72px;
        color: rgb(245, 245, 245);
    }

    .interface .container p:nth-of-type(2){
        position: absolute;
        top: 330px;
        font-family: serif;
        font-size: 22px;
        color: #F5F5F5;
    }

    .interface .container button{
        border: 1px solid white;
        background-color: transparent;
        color: white;
        width: 279px;
        position: absolute;
        top: 386px;
        height: 46px;
        font-size: 18px;
        font-family: serif;
        text-transform: uppercase;
    }
}


@media (max-width: 599px) {
    .interface .container video{
        display: none;
    }

    .interface .container img{
        width: 156%;
        position: absolute;
        left: -84px;
        z-index: -1;
    }
    
    .interface .container p:first-of-type{
        position: absolute;
        top: 283px;
        left: 35%;
        text-transform: uppercase;
        font-family: serif;
        font-size: 40px;
        color: #f5f5f5;
    }

    .interface .container p:nth-of-type(2){
        position: absolute;
        top: 346px;
        left: 8%;
        font-family: serif;
        font-size: 15px;
        color: #F5F5F5;
    }

    .interface .container button{
        border: 1px solid white;
        background-color: transparent;
        color: white;
        width: 75%;
        position: absolute;
        top: 386px;
        left: 50px;
        height: 46px;
        font-size: 18px;
        font-family: serif;
        text-transform: uppercase;
    }

}


/************* end interface ********/






/******** start slider **********/
@media (min-width : 600px){
    .slideshow p:first-child{
        font-size: 45px;
        font-family: serif;
        text-transform: uppercase;
        width: 233px;
    }
}

.slideshow p:first-child{
    font-size: 35px;
    font-family: serif;
    text-transform: uppercase;
}

.slideshow{
    margin: 45px 0;
    display: grid;
    justify-items: center;
    gap: 25px;
}

.slideshow .container{
    position: relative;
    display: grid;
    justify-content: center;
    gap: 35px;
}

@media (min-width : 690px) {
    .slideshow .container{
        grid-template-columns: repeat(2, auto);
    }
}

@media (min-width : 1024px) {
    .slideshow .container{
        grid-template-columns: repeat(3, auto);
    }
}

.slideshow .container .slide{
    width: 300px;
    height: 399px;
    position: relative;
}

.slideshow .container img{
    width: 100%;
    z-index: -1;
    position: absolute;
}

.slideshow .container .slide .text{
    display: flex;
    position: relative;
    width: 300px;
    height: 399px;
    flex-wrap: wrap;
    align-content: center;
}

.slideshow .container .slide p:first-of-type{
    font-size: 45px;
    color: white;
    position: absolute;
    top: 150px;
    left: 87px;
    text-transform: uppercase;
}

.slideshow .container .slide.two p:first-of-type{
    left: 50px;
}

.slideshow .container .slide p:nth-of-type(2){
    font-size: 24px;
    color: white;
    position: absolute;
    top: 215px;
    left: 106px;
}

/******** end slider **********/









/******** Start shop ***********/

@media (min-width : 600px) {
    .shop .container{
        position: relative;
        width: 100%;
        height: 540px;
        overflow: hidden;
    }
    .shop .container .box{
        display: grid;
        justify-items: flex-start;
        left: 180px;
        position: absolute;
        width: 55%;
        height: 100%;
    }
    .shop .container img:nth-of-type(2){
        display: none;
    }
    .shop .container img:first-of-type{
        width: 100%;
        z-index: -1;
        height: 100%;
    }
    .shop .container .box p:first-of-type{
        text-align: left;
        top: 19%;
        font-size: 48px;
        width: 100%;
    }
    .shop .container .box p:nth-of-type(2){
        font-size: 15px;
        text-align: left;
        top: 52%;
    }
    .shop .container .box button{
        width: 144px;
        height: 50px;
        position: absolute;
        top: 60%;
        background-color: white;
        border: none;
        color: black;
        font-family: serif;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 3px;
    }
}


@media (max-width: 599px){        
    .shop .container{
        display: grid;
        justify-items: center;
        position: relative;
        width: 100%;
        height: 540px;
        overflow: hidden;
    }
    .shop .container .box{
        display: grid;
        justify-items: center;
    }
    .shop .container img:first-of-type{
        display: none;
    }
    .shop .container img:nth-of-type(2){
        position: absolute;
        z-index: -1;
        width: 158%;
    }
}

.shop .container p:first-of-type{
    font-family: serif;
    position: absolute;
    color: white;
    font-size: 31px;
    width: 80%;
    top: 20%;
    text-align: center;
    text-transform: capitalize;
}

.shop .container p:nth-of-type(2){
    font-family: serif;
    position: absolute;
    color: white;
    font-size: 22px;
    width: 75%;
    top: 46%;
    text-align: center;
    text-transform: capitalize;
}

.shop .container button{
    width: 275px;
    height: 50px;
    position: absolute;
    top: 60%;
    background-color: white;
    border: none;
    color: black;
    font-family: serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
}

/*************** end shop ********************/






/*************** start collection ********************/
@media (min-width : 740px) {
    .collection .container{
        background-color: black;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-content: space-around;
        padding: 90px 70px;
        align-items: center;
    }
    .collection .container .text{
        display: grid;
        width: 400px;
        height: 500px;
        align-content: center;
        gap: 40px;
    }
    .collection .container img:last-child{
        min-width: 300px;
        max-width: 550px;
    }
    .collection .container .text p:first-of-type{
        font-size: 12px;
        letter-spacing: 1px;
        color: #808080;
        margin-bottom: -14px;
    }
    .collection .container .text p:nth-of-type(2){
        color: white;
        font-size: 50px;
        font-family: serif;
        margin-top: -25px;
    }
    .collection .container .text p:nth-of-type(3){
        color: #808080;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .collection .container .text p:nth-of-type(4){
        color: white;
        font-size: 12px;
        letter-spacing: 1px;
        position: relative;
        width: 163px;
    }
    .collection .container .text p:nth-of-type(4):hover{
        animation-name: p-motion;
        animation-duration: 3s; 
        animation-timing-function: ease-in;
    }
    .collection .container .text p:nth-of-type(4):hover img{
        animation-name: arrow-motion;
        animation-duration: 3s; 
        animation-timing-function: ease-in;
    }
    .collection .container .text img:first-of-type{
        width: 200px;
        position: absolute;
        top: 22px;
        left: -50px;
        opacity: 0.5;
    }

    @keyframes arrow-motion {
        20%{
            left: -20px;
            opacity: 1;
        }
        80%{
            left: -20px;
            opacity: 1;
        }
        100%{
            left: -50px;
        }
    }
    @keyframes p-motion {
        10%{
            margin-left: 20px;
        }
        80%{
            margin-left: 20px;
        }
        100%{
            margin-left: 0;
        }
    }
    .collection .container.two{
        display: none;
    }
    .collection .container.two img{
        display: none;
    }
}

@media (max-width: 739px) {
    .collection .container.one img{
        display: none;
    }
    .collection .container.one p{
        display: none;
    }
    .collection .container.two{
        display: grid;
        width: 100%;
        justify-items: center;
    }
    .collection span{
        background-color: black;
        width: 100%;
        position: absolute;
        height: 330px;
        z-index: -1;
    }
    .collection .container.two img{
        width: 80%;
        margin: 50px 0;
    }
    .collection .text{
        display: grid;
        justify-items: center;
        width: 90%;
        gap: 10px;
    }
    .collection .text p:first-child{
        color: #808080;
        letter-spacing: 1px;
        font-size: 12px;
        font-family: serif;
        width: 162px;
    }
    .collection .text p:nth-child(2){
        font-family: serif;
        font-size: 30px;
        width: 80%;
    }
    .collection .text button{
        width: 90%;
        height: 43px;
        background-color: black;
        color: white;
        font-family: serif;
    }
}

/*************** end collection ********************/





/************  start news ****************/
@media (min-width : 1300px) {
    .news{
        margin: 95px 0px;
        position: relative;
    }
    .news .container{
        margin: 0 150px;
    }
    .news a{
        text-decoration: none;
        color: black;
        display: grid;
        grid-template-columns: 350px 600px;
        justify-content: center;
        gap: 50px;
        position: relative;
    }
    .news .text {
        position: relative;
    }
    .news .container .text p:first-of-type{
        font-family: monospace;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .news .container .text p:nth-of-type(2){
        font-size: 32px;
        font-family: monospace;
        margin-top: 20px;
        color: black;
        width: 300px;
    }
    .news .container .text p:nth-of-type(3){
        margin-top: 50px;
        font-size: 15px;
        font-family: monospace;
        color:#808080;
        letter-spacing: 1px;
    }
    .news a img{
        width: 600px;
    }
    .news .pic--back-ground{
        position: absolute;
        background-color: #eee;
        width: 600px;
        height: 480px;
        top: 75px;
        right: 0;
        z-index: -1;
    }
    
    .news .text img:last-child{
        width: 20px;
        position: absolute;
        bottom: -40px;
        left: 0;
        opacity: 0.1;
        transform: scaleX(-1);
        transition: 0.5s;
    }
    
    .news a:hover .text img:last-child{
        opacity: 1;
        left: 20px;
    }
    
}
/************  end news ****************/











/***********      start tips      ************/
@media (min-width : 1300px) {
    .tips .container{
        margin: 280px 150px;
        display: grid;
        grid-template-columns: 700px 300px;
        justify-content: center;
    }
    .tips .pic img{
        width: 600px;
    }

    .tips .text img{
        width: 20px;
        position: absolute;
        bottom: 195px;
        left: 0;
        opacity: 0.1;
        transform: scaleX(-1);
        transition: 0.5s;
    }

    .tips a:hover .text img{
        opacity: 1;
        left: 20px;
    }

    .tips .text{
        position: relative;
        /* margin-top: 30px; */
    }

    .tips .container .text p:first-of-type{
        font-family: monospace;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .tips .container .text p:nth-of-type(2){
        font-size: 32px;
        font-family: monospace;
        margin-top: 20px;
        color: black;
        width: 300px;
    }
    .tips .container .text p:nth-of-type(3){
        margin-top: 50px;
        font-size: 15px;
        font-family: monospace;
        color:#808080;
        letter-spacing: 1px;
    }

    .tips .container .pic{
        position: relative;
    }

    .tips .container .pic .pic--back-ground{
        position: absolute;
        background-color: #eee;
        width: 600px;
        height: 760px;
        top: 100px;
        left: -170px;
        z-index: -1;
    }
}
/***********      end tips      ************/












/**********     start keep-in-touch    **********/
.keep-in-touch{
    position: relative;
    height: 750px;
}

.keep-in-touch img{
    position: absolute;
    left: 500px;
    top: 50px;
    width: 600px;
    z-index: -1;
}

.keep-in-touch .text{
    display: grid;
    position: absolute;
    top: 200px;
    left: 245px;
}

.keep-in-touch .text p:first-of-type{
    margin-top: 50px;
    font-size: 11px;
    font-family: monospace;
    letter-spacing: 1px;
}
.keep-in-touch .text p:nth-of-type(2){
    letter-spacing: 1px;
    width: 300px;
    font-size: 40px;
}
.keep-in-touch .text p:nth-of-type(3){
    width: 300px;
    margin-top: 10px;
    font-size: 13px;
    font-family: monospace;
    color:#808080;
    letter-spacing: 1px;
    line-height: 20px;

}
.keep-in-touch .text #email-add{
    border: 1px solid var(--border);
    margin-top: 50px;
    height: 40px;
    width: 80%; 
    padding: 20px;
}
.keep-in-touch .text img{
    width: 20px;
    position: absolute;
    top: 287px;
    left: 210px;
    z-index: 100;
    transition: 0.3s;
    opacity: 0.2;
}
.keep-in-touch .text img:hover{
    opacity: 1;
    cursor: pointer;
}


/**********     end keep-in-touch    **********/








/************   start bottom*************/
.bottom{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 40px 70px;
    grid-template-columns: repeat(8,auto);
    grid-template-areas: "line line line line line line line line "
                        "social social social links links links links links ";
    height: 200px;
}
.bottom p{
    color: #aeaeae;
    font-size: 20px;
    grid-area: line;
}

.bottom ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 9px;
    justify-content: flex-end;
    grid-area: links ;
}
.bottom ul li a{
    color: black;
}

.bottom .social-media {
    display: flex;
    gap: 22px;
    grid-area: social;
}

.bottom .social-media img{
    width: 12px;
}
/************   end bottom*************/








/************    Start news for mobile   ***************/
@media (max-width : 1300px) {
    .keep-in-touch , .bottom{
        display: none;
    }
    .news{
        margin: 50px 0;
        padding-top: 255px;
        position: relative;
    }
    .news .container .pic1-{
        width: 90%;
        max-width: 400px;
        position: absolute;
        top: -34px;
        margin: 20px;
    }
    .news .container .text img{
        width: 20px;
        transform: scaleX(-1);
    }

    .news a{
        text-decoration: none;
        color: black;
        display: grid;
        justify-content: center;
    }
    .news .text {
        position: relative;
        display: grid;
        margin: 0 40px ;
    }
    .news .container .text p:first-of-type{
        font-family: monospace;
        letter-spacing: 2px;
        color: #808080;
        font-size: 10px;
        text-transform: uppercase;
    }
    .news .container .text p:nth-of-type(2){
        font-size: 32px;
        font-family: monospace;
        margin-top: 10px;
        color: black;
        width: 300px;
    }
    .news .container .text p:nth-of-type(3){
        margin: 35px 0;
        font-size: 15px;
        font-family: monospace;
        color: #808080;
        letter-spacing: 1px;
        max-width: 83%;
    }
    
}

/************    end news for mobile   ***************/





/************    start tips for mobile    **************/

@media (max-width : 1300px) {
    .tips{
        margin: 50px 0;
        padding-top: 450px;
        position: relative;
    }
    .tips .container .pic1-{
        width: 90%;
        max-width: 370px;
        position: absolute;
        top: -34px;
        margin: 20px;
    }
    .tips .container .text img{
        width: 20px;
        transform: scaleX(-1);
    }

    .tips a{
        text-decoration: none;
        color: black;
        display: grid;
        justify-content: center;
    }
    .tips .text {
        position: relative;
        display: grid;
        margin: 0 40px ;
    }
    .tips .container .text p:first-of-type{
        font-family: monospace;
        letter-spacing: 2px;
        color: #808080;
        font-size: 10px;
        text-transform: uppercase;
    }
    .tips .container .text p:nth-of-type(2){
        font-size: 32px;
        font-family: monospace;
        margin-top: 10px;
        color: black;
        width: 300px;
    }
    .tips .container .text p:nth-of-type(3){
        margin: 35px 0;
        font-size: 15px;
        font-family: monospace;
        color: #808080;
        letter-spacing: 1px;
        max-width: 83%;
    }
    
}
/************    end tips for mobile    **************/
